includes:
    - phar://phpstan.phar/vendor/phpstan/phpstan-mockery/extension.neon
    - phar://phpstan.phar/vendor/phpstan/phpstan-nette/extension.neon
    - phar://phpstan.phar/vendor/phpstan/phpstan-nette/rules.neon
    - phar://phpstan.phar/vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/tests

    fileExtensions:
        - php
        - phpt

    autoload_directories:
        - %currentWorkingDirectory%/tests

    excludes_analyse:
        - %currentWorkingDirectory%/tests/bootstrap.php
        - %currentWorkingDirectory%/tests/temp/*

    ignoreErrors:
        -
            message: '#Call to an undefined method Nette\\Forms\\Form::addPhoneNumber\(\)#'
            path: %currentWorkingDirectory%/tests/Bridges/PhoneNumberInputDI/PhoneNumberInputExtensionTest.phpt
        - # Nette 2.4 compatibility
            message: "#Call to function method_exists\\(\\) with 'Nette\\\\\\\\Forms\\\\\\\\Rules' and '.*' will always evaluate to (false|true)\\.#"
            path: %currentWorkingDirectory%/tests/PhoneNumberInput/PhoneNumberInputTest.phpt
