includes:
    - phar://phpstan.phar/vendor/pepakriz/phpstan-exception-rules/extension.neon
    - phar://phpstan.phar/vendor/phpstan/phpstan-nette/extension.neon
    - phar://phpstan.phar/vendor/phpstan/phpstan-nette/rules.neon
    - phar://phpstan.phar/vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    exceptionRules:
        uncheckedExceptions:
            - LogicException
            - Brick\PhoneNumber\PhoneNumberException
            - Nette\InvalidStateException

    ignoreErrors:
        -
            message: '#Parameter \#1 \$value \(Brick\\PhoneNumber\\PhoneNumber\|string\|null\) of method Nepada\\PhoneNumberInput\\PhoneNumberInput::setDefaultValue\(\) should be contravariant with parameter#' # intended
            path: %currentWorkingDirectory%/src/PhoneNumberInput/PhoneNumberInput.php
